@import "variables";
@import "mixins";

.challenge-component{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	background: $c1;
	width: 100%;
	padding: 1.5rem ;
}
.challenge-title{
	color:white;
}
.challenge-text{
	display:flex;
	flex-wrap: wrap;
	align-items: space-around;
	width: 90%;
	margin: 0 auto;
	@media (min-width:640px){
		width: 90%;
	}
	color: $c2;
	font-size:1.15rem;
	line-height: 1.75rem;
}
.challenge-link{
	margin-right: 1.25rem;
	margin-bottom: .5rem;
	transition: .5s all;
	&:hover{
		color: white;
	}
}


