@import "variables";
@import "mixins";

.code-button-component{
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	width:50px;
	height:50px !important;
	bottom:10px;
	@media (min-width:640px){
		/*left:580px;*/
		right:0px;
	}
	@media (min-width:768px){
		left:700px;
	}
	@media (min-width:1024px){
		left: 950px;
	}
	@media (min-width:1280px){
		left: 1210px;
	}
	@include b(2px,white);
	@at-root{
		.code-button-link{
			text-decoration: none;
		}
		.code-button-text{
			position: relative;
			top: 2.5px;
			text-align: right;
			padding-right: 5px;
			line-height: 12.5px;
			word-spacing: 5px;
			color: white;
		}
	}
}