@import "variables";
@import "mixins";

.combo-component {
	position: relative;
	top: 10px;
	width: 270px;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;

	@include b(3px,$c2,solid);
}
.lock-cover{
	display: flex;
	justify-content:center;
	align-items: center;
	position: absolute;
	background: white;
	width:270px;
	height: 130px;
	font-weight: bold;
	letter-spacing: 3px;
	color: $c2;

}

.slot-container {
	width: 100px;
	height: 130px;
	display: block;
	overflow-y: auto;
	padding: 0px;
	@include b(1.5px,$c2,solid);
	scroll-snap-type: y mandatory;
	background: $c2;
}

.number-position {
	scroll-snap-align: start;
	width: 100%;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	color: $c2;
	font-weight: bold;
	background: white;
	border-left: 3px $c2 solid;
	border-right: 1.5px $c2 solid;
	border-bottom: 1.5px $c2 solid;
	border-top: 1.5px $c2 solid;
	transition: .25s all;

	&:hover {
		font-size: 1.5rem;
	}

}
.selected{
	background: $c2;
}