@import "variables";
@import "mixins";

.combo-component {
	grid-area: combo;
	width: 450px;
	height: 200px;
	display: flex;
	justify-content: space-evenly;
	@include b(3px,red,solid);
}

.slot-container {
	width: 100px;
	height: 200px;
	display: block;
	overflow-y: auto;
	padding: 5px;
	scroll-snap-type: y mandatory;
}

.number-position {
	scroll-snap-align: start;
	width: 100%;
	height: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	border-bottom: 1.5px orange solid;
	border-top: 1.5px orange solid;
	transition: .5s all;

	&:hover {
		font-size: 1.5rem;
	}

}
