@import "variables";
@import "mixins";

.dashboard-component{
	display:flex;
	flex-direction:column;
	align-items:center;	
	gap: 0px 5px;
	width:100%;
	height:100%;
	@media (min-width: 640px){
		/*padding-top: .5rem;
		padding-bottom: .5rem; */
	}
}
#dashboard-header{
	width: 100%;
	padding: 5px 0;
	text-align: center;
	background: $c2;
	color:white;
	@include b(3px);
}
.dashboard-box-message-group{
	@media (min-width:640px){
		width:100%;
	}
	@media (min-width:1024px){
		width:65%;
	}
	@media (min-width:1280px){
		width:50%;
	}
	height:100%;
	padding: 0 5px;
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.dashboard-boxes-container{
	width: 50%;
	height:100%;
	&--grid{
		display: grid;
		width: 100%;
		height:100%;
		grid-template-columns: 20% 30% 30% 20%;
		grid-template-rows: 10% 45% 45%;
		grid-gap: 1px;
		grid-template-areas: "navbar navbar navbar navbar"
							 "leftbar topMid topMid rightbar"
							 "leftbar bottomLeft bottomRight rightbar";
		&--box{
			width: 100%;
			height:100%;
			&__leftbar{
				grid-area:leftbar;
				@include b(3px,$c1);
			}
			&__navbar{
				grid-area: navbar;
				@include b(3px,$c1);
			}
			&__topMid{
				grid-area:topMid;
				@include b(3px,$c1);
			}
			&__bottomLeft{
				grid-area: bottomLeft;
				@include b(3px,$c1);
			}
			&__bottomRight{
				grid-area: bottomRight;
				@include b(3px,$c1);
			}
			&__rightbar{
				grid-area:rightbar;
				@include b(3px,$c1);
			}
		}							 
	}
}
.dashboard-message-area{
	width:49%;
	height: 100%;
	padding: 2rem 0;
	background-image: url("/images/whatsinthebox.png") ;
	background-size: cover;
	@include b;
	@at-root{
		.dashboard-text{
			text-align: right;
			position: relative;
			top: -25px;
			padding: .125rem;
			padding-right:1rem;
			color: white;
			font-size: 1.25rem;
			background: black;
		}
		.dashboard-strong{
			font-size: 1.55rem;
			color: $c2;
		}
		#dashboard-signout-button{
			position: relative;
			@media (min-width:640px){
				top: 55px;
				left: 225px;
			}
			@media (min-width:768px){
				top: 55px;
				left: 285px;
			}
			@media (min-width:1280px){
				top: 110px;
				left: 220px;
			}
			color: $c2;
			font-size: 1.25rem;
		}
	}
}
