@import "variables";
@import "mixins";
@import "fonts";
@import "keyframes";
@import "nav";
@import "main-section";
@import "stage";
@import "about-stage";
@import "concept-component";
@import "challenge-component";
@import "challengeInfo-component";
@import "lock-ui-examples";
@import "login-component";
@import "combo-component";
@import "info-component";
@import "code-button";
@import "logo";
@import "checklist-component";
@import "dashboard";
@import "footer";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
html,body{
	/*display:grid;*/
	grid-template-rows: $navHeight 1fr ;
	grid-template-areas:"nav"
						"main";
	height: 100vh;
  	width: 100vw;
	@media (min-width:1280px){
		font-size: 30px;
	}
	@media (min-width:640px){
		font-size: 16px;
	}
	@include mainFont;
	overflow: hidden;
}

