@import "fonts";
@import "variables";
@import "mixins";
	
.info-component{
	display:flex;
	flex-direction:column;
	align-items:center;	
	width:100%;
	height:100%;
	@media (min-width: 640px){
		padding: 2rem;
		padding-top: 2rem;
	}
	@media (min-width: 768px){
		padding: 1rem;
		padding-top: 2rem;
	}
	@media (min-width: 1024px){
		padding: 2rem;
		padding-top: 2rem;
	}
	@media (min-width: 1536px){
		padding: 2rem;
		padding-top: 2rem;
	}
	background: linear-gradient(to bottom,$c1,$c2 95%);
	overflow-y:auto;
	@include b(10px,$c2);
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	@at-root{
		.info-text{
			position:relative;
			@media (min-width:640px){
				margin-right: 0px;
				width: 90%;
			}
			@media (min-width:768px) {
				margin-right: 0px;
				width: 90%;
			}
			@media (min-width:1280px){
				width: 80%;
			}
			@media (min-width:1536px){
				width: 80%;
			}
		}
		.bottom-spacer{
			position: absolute;
			left:0;
			bottom:0;
			width:100%;
			height: 1.25rem;
			background: $c2;
		}
	}
}
.info-title{
	margin-bottom: 20px;
	@include mainFont(2rem,700);
	color: white;
}
.info-text{
	margin-bottom: 20px;
	@include mainFont(1.85rem,400);
	color: white;
}
.list{
	position:relative;
	left: 5rem;
	font-size: 1.5rem;
	list-style-type: lower-alpha;
}
.col-2{
	display: grid;
	margin: .35rem auto;
	width: 100%;
	grid-template-rows: 1fr;
	grid-template-columns: 50% 50%;
	grid-template-areas: "yes no";
	@include b(3px,white);
	padding: 1rem 0;
}
.right-group{
	grid-area: yes;
	display: flex;
	flex-direction:column;
	padding-top: .5rem;
	padding-bottom: .75rem;
	align-items: center;
	border-right: 2px white solid;
	& > :nth-child(3){
		font-size: 1.35rem;
	}
}
.left-group{
	grid-area: no;
	display: flex;
	padding: .65rem;
	flex-direction:column;
	align-items: center;
	& > :nth-child(3){
		font-size: 1.25rem;
	}
}
.info-code{
	margin: 1.5rem 0px;
	@include mainFont(1.65rem,400);
	color: white;
}
.info-text-box{
	border:1px white solid;
}
.signinAttemptExtra{
	display: inline;
	position: relative;
	font-size: 1.25rem;
	color: white;
	opacity: .75;
	@media (min-width:640px){
		top: -390px;
		left: 250px;
	}
}