@import "mixins";
@import "variables";

.nav-component{
	grid-area:nav;
	display:flex;
	justify-content:space-between;
	align-items:center;
	width: 100%;
	height: $navHeight;
	@at-root{
		#nav-logo-about-group{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		#nav-logo{
			margin-left: 15px;
			height:$navHeight;
		}
		#nav-about-site{
			position: relative;
			top: 10px;
			margin: 10px;
			color: $c2;
			text-decoration: none;
		}
		#nav-dev{
			position: relative;
			top: 10px;
			@media (min-width: 640px){
				/*left:140px;*/
			}
			@media (min-width: 768px){
				/*left:270px;	*/
			}
			@media (min-width: 1024px){
				/*left:520px;*/
			}
			@media (min-width: 1280px){
				/*left:780px;*/
			}
			@media (min-width: 1536px){
				/*right: -50px;*/
			}
			margin: 10px;	
			color: $c1;
			&::after{
				position: relative;
				content:"2023";
				top: -13px;
				right: 18px;
			}
			&-dark{
				font-size: 1.25rem;
				font-weight: bold;
				color: $c2;
			}
		}
	}
}